.menu-btn {
  position: absolute;
  z-index: 3;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 3rem;
    height: 0.4rem;
    margin: 0 0 0.6rem 0;
    background-color: #fff;
    @include easeOut;
  }

  //rotate into X with menu lines

  &.close {
    transform: rotate(180deg);

    .btn-line {
      //line one - rotate
      &:nth-child(1) {/* 
        transform: rotate(45deg) translate(0.2604rem, 0.2604rem); */
        transform: rotate(45deg) translate(1rem, 1rem);
      }
      //line two - hide
      &:nth-child(2) {
        opacity: 0;
      }
      //line three - rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.3645rem, -0.3125rem);
      }
    }
  }
}